.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    gap: 40px;
    width: 400px;
    margin-inline: auto;
}

.skills-title{
    color: var(--primary-text-color);
}

.skills-box{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}


.skills-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}



.row-1{
    display: flex;
    /* justify-content: flex-start; */
    /* justify-self: start; */
    align-self: flex-start;
    animation: leftToRight 1s linear  forwards;
}

@keyframes leftToRight{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(40px);
    }
}
.row-2{
    display: flex;
   /* justify-content: flex-start;  */
   /* justify-self: end; */
   align-self: flex-end;
    animation: rightToLeft 1s linear  forwards;
}

@keyframes rightToLeft{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-40px);
    }
}