.singleProjectContainer {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 4px;
  margin-bottom: 10px;
  /* background-color: var(--ternary-color); */
}

.left-column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  flex: 2.5;
}

.heading,
p {
  color: white;
}

.left-column p {
  word-break: break-word;
}

.right-column {
  padding: 10px;
  height: 200px;
  width: 300px;
  flex: 1.5;
  /* border-left: 2px solid white; */
}

.right-column img {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer .icons {
  color: var(--secondary-text-color);
  font-weight: 600;
}

.button {
  display: flex;

  justify-content: center;
  gap: 5px;
  padding: 12px 16px;
  background-color: var(--primary-text-color);
  color: var(--secondary-text-color) !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}

.button:hover {
  background-color: #54cbb7;
}

.button:active {
  background-color: #54cbb7;
}

@media only screen and (max-width: 850px) {
  .singleProjectContainer {
    width: 90vw;
    flex-direction: column-reverse;
  }

  .right-column img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .right-column img {
    width: 100%;
    height: 100%;
  }
}
